@import "../../theme.scss";

.modal {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
  height: 100vh;
  background: black;
  display: grid;
  grid-template-rows: 10vh 10vh auto 60px;
}

.modal__content {
  input {
    margin: 2em 0;
    font-size: 1em;
  }
}
.input__wrapper {
  padding: 2em 1em;
}

.modal__content__message {
  font-size: 2em;
  margin: 1em;
  color: $contrast;
}

.modal__content__card {
  // width: 50%;
  border-radius: $card-border-radius;
  align-items: center;
  justify-content: center;
  display: flex;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
