@import "../../theme.scss";

.hand {
  display: flex;
  // height: 100%;
  overflow-x: auto;
  padding: 1em;
  overflow-y: hidden;
}
.hand__card {
  cursor: pointer;
  height: auto;
  // &:nth-child(1) {
  //   transform: rotate(-5deg) scale(0.9) translateX(5px) translateY(50px);
  // }
  // &:nth-child(2) {
  //   transform: rotate(5deg) translateX(-5px) scale(0.9) translateY(50px);
  // }

  // &:nth-child(3) {
  //   transform: rotate(-5deg) scale(0.9) translateX(5px);
  // }
  // &:nth-child(4) {
  //   transform: rotate(5deg) translateX(-5px) scale(0.9);
  //   translate: (0, -15px);
  // }

  // &:nth-child(5) {
  //   transform: rotate(-5deg) scale(0.9) translateX(5px) translateY(-50px);
  // }
  // &:nth-child(6) {
  //   transform: rotate(5deg) translateX(-5px) scale(0.9) translateY(-50px);
  // }
}

@media only screen and (max-width: 600px) {
  .hand__card {
    min-width: 100vw;
  }
}

.hand__card__image {
  max-width: 100%;
  user-select: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: $border-radius;
}



.enter-story {
  padding: 0.2em;
}
.enter-story__input {
  background: $light-color;
  border: solid 1px $contrast;
  outline: none;
  color: white;
  border-radius: $border-radius;
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
  &:focus,
  &:active {
    background: $lighter-color;
  }
}
.action__text {
  font-size: 1.6em;
  color: $contrast;
}

.game-state {
  height: calc(100vh - #{$nav-height});
  background: white;
  display: grid;
  grid-template-rows: $nav-height auto;
}
.game-state--blurred {
  // filter: blur(5px) grayscale(50%);
}

.carousel__wrapper {
  div {
    height: 100%;
    text-align: center;
    display: flex;
    align-self: center;
  }
}

.carousel .slide {
  background: $main-color;
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    user-select: none;
  }
}
