@import "../theme.scss";
.lobby {
  font-size: 1.5rem;
  text-transform: lowercase;
}

.lobby-screen {
  display: grid;
  grid-template-rows: 100px auto 100px 50px;
  height: 100vh;
  background: $nav-secondary;
}

.lobby-screen__code {
  align-self: center;
  justify-content: center;
  display: inline-block;
  border-radius: 4px;
  height: 55px;
}

.lobby-screen__code__text {
  // background: $blue;
  color: white;
  font-size: 3em;
}

.lobby-screen__player-list {

}

.lobby-screen__player {
 
}

.lobby-screen__player--empty {
  background: none;
  border: dotted 2px white;
  color: transparent;
}

.landing-screen__input {
  padding: 2rem;
}

.landing-screen__input > .input {
  margin-bottom: 1rem;
}



.lobby-screen__actions {
  padding: 1em;
  background: $grey;
}

.lobby__player--empty {
  color: $main-color;
  background: $main-color;
  border: 2px dashed white;
}

.my-node {
  &-enter {
    transform: scaleY(0);
  }
  &-enter-active {
    transform: scaleY(1);
    transition: all 0.5s ease;
  }
  &-exit {
    transform: scaleY(1);
  }
  &-exit-active {
    transform: scaleY(0);
    transition: all 0.5s ease;
  }
}
.fade-in-out {
  &-enter {
    opacity: 0;
  }
  &-active {
    opacity: 1;
    transition: all 1s ease;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: all 1s ease;
  }
}

.slide-in-out {
  &-enter {
    transform: translate(100%);
  }
  &-active {
    transform: translate(0);
    transition: all 0.5s ease;
  }
  &-exit {
    transform: translate(0);
  }
  &-exit-active {
    transform: translate(100%);
    transition: all 0.5s ease;
  }
}

.button__round {
  color: white;
  border: solid 2px white;
  background: transparent;
  border-radius: 100px;
  font-size: 18px;
  width: 2em;
  height: 2em;
  padding: 0;
  outline: none;
}

.button__round--red {
  color: white;
  border-color: white;
  box-shadow: 0 0 2px $red;
  text-shadow: 0 0 2px $red;
}

.button__round--blue {
  color: $red;
  border-color: $blue;
  box-shadow: 0 0 2px $blue;
  text-shadow: 0 0 2px $blue;
}

.lobby-screen__help {
  align-self: center;
  > * {
    margin: 0 0.5em;
  }
}
