@import-normalize;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "./theme.scss";
// @import "./foundation.scss";
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #FAFBFD;
  color: $color;
  // backgroundColor: "gray-200"
}
// html,
// #root,
// .app,
// .landing-screen {
//   height: 100%;
// }

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
