// $main-color: #34293a;
// $color: #ffffff;
// $light-color: #594c5e;
// $lighter-color: #645b68;
// $contrast: #e47e25;
// $button: #9283d6;
// $button-text: #0fa6c5;
// $nav-color: #8071b6;
// $button-secondary: #e2b129;

//https://dribbble.com/shots/5308261-Card-Game-App-Companion

$main-color: #171717;
$color: #ffffff;
$light-color: #594c5e;
$lighter-color: #645b68;
$contrast: #e47e25;
$button: #9283d6;
$button-text: #0fa6c5;
$nav-color: white;
$nav-bgcolor: $main-color;
$green: #62a911;
$yellow: #fde60a;
$red: #f10125;
$blue: #0fbaee;
$black: #000000;
$grey: #5a5a5a;

$button-secondary: #383838;

$border-radius: 10px;
$card-border-radius: 10px;
$panel-text: #66a51e;
