@import "../theme.scss";
.app {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;

  // background: url("../assets/images/bg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background: linear-gradient(210deg, #ff0000, #f2e260);
  // background-size: 400% 400%;
  // animation: backgroundAnimation 10s ease infinite;
  // background: rgba(0, 0, 0, 0) linear-gradient(130deg, #ff8443, #fe5e17) repeat scroll 0 0;
}

.button {
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid #fff;
  padding: 0.75em 1.5em;
  font-size: 1em;
  border-radius: $border-radius;
  text-align: center;
  text-transform: lowercase;
  // transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $orange;
    color: #fff;
    border-color: $orange;
  }
}

.button--primary {
  background: $orange;
  border-color: $orange;
  color: white;
}

.button--secondary {
  background: $button-secondary;
  color: white;
}

.button--round {
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  font-size: 1.25em;
  padding: 0;
  background: $color;
  color: $main-color;
  &.button--secondary {
    background: $grey;
  }
}

.input {
  color: $color;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 1.5em;
  padding: 0.2em;
  width: 100%;
  &:active,
  &:focus {
    border-color: white;
  }
}

.card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 1em;
  padding: 1em;
}

.label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: lighter;
  text-transform: lowercase;
}

.input,
.label {
  display: block;
  text-align: center;
}
.button-group {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-column-gap: 1rem;

  text-align: center;
}

.button--square {
  background: $grey;
  color: white;
  width: 60px;
  height: 60px;
}

.button--bare {
  background: none;
  color: $color;
  font-size: 2em;
}

.card__image {
  // border-radius: $card-border-radius;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 24% 0%;
  }
  50% {
    background-position: 77% 100%;
  }
  100% {
    background-position: 24% 0%;
  }
}
